{{!
  Copyright (C) 2015 Google Inc., authors, and contributors <see AUTHORS file>
  Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
  Created By: sasmita@google.com
  Maintained By: sasmita@google.com
}}

<tree-header-selector>
<li>
  <a class="popover-dropdown-trigger" data-get-template="base_objects/tree_column_choose" href="javascript://">
    <i class="grcicon-setup-color"></i>
  </a>
</li>
</tree-header-selector>
